XmlLib/XmlLibTest/Xsds/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           targetNamespace="http://library.by/catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://library.by/catalog">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="book" type="book"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueId" xmlns:ts="http://library.by/catalog">
      <xs:selector xpath="ts:book"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <xs:complexType name="book">
    <xs:all>
      <xs:element minOccurs="0" name="isbn" type="isbn" />
      <xs:element name="author" type="xs:string" />
      <xs:element name="title" type="xs:string" />
      <xs:element name="genre" type="genre" />
      <xs:element name="publisher" type="xs:string" />
      <xs:element name="publish_date" type="xs:date" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="registration_date" type="xs:date" />
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:simpleType name="isbn">
    <xs:annotation>
      <xs:documentation>e.g 978-3-16-148410-0</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-\d{1}-\d{2}-\d{6}-\d"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="genre">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Computer"/>
      <xs:enumeration value="Fantasy"/>
      <xs:enumeration value="Romance"/>
      <xs:enumeration value="Horror"/>
      <xs:enumeration value="Science Fiction"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>